<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
</head>

<body>
    <div
        style="display: block; margin: 0; padding: 0; max-width: 800px; margin-left: auto; margin-right: auto; background-color: #fff; word-spacing: normal; width: 100%; height: 100%;">
        <div style="width: 100%; font-family: 'helvetica', 'arial', sans-serif!important; background-color: #fff;">
            <div style="padding: 40px 0 0 32px; font-size: 40px; font-weight: 700; color: rgb(46, 136, 123)">
                <a href="https://bkconnect.vercel.app/"><img src="../Img/BKConnect-logo.png" alt="BKConnect"
                    style="width:150px"></a>
            </div>
            <div style="padding: 24px 20px 0 24px; max-width: 800px; border-radius: 4px">
                <div style="background: rgba(34, 37, 54, 0.1); border-radius: 4px 4px 0px 0px">
                    <div
                        style="padding: 16px; line-height: 24px; font-size: 20px; font-weight:bold; font-family:'ProximaNova-Bold'; text-decoration: none">
                        Xin chào {email},
                    </div>
                </div>
                <div style="background: rgba(34, 37, 54, 0.03); padding: 12px 16px">
                    <div
                        style="color: rgba(22, 24, 35, 0.75); padding-bottom: 24px; line-height: 28px; font-size: 18px; font-family:'ProximaNova-Regular'; white-space: pre-line">
                        Bạn nhận được email này vì chúng tôi nhận được yêu cầu đặt lại mật khẩu cho tài khoản của bạn.
                    </div>
                    <a href="{link}"
                        style="text-align: center; font-size: 16px; font-weight: 700; color: rgb(25,69,157)">
                        Đây là đường dẫn để đặt lại mật khẩu.
                    </a>
                    <div
                        style="color: rgba(22, 24, 35, 0.75); padding-bottom: 12px; line-height: 28px; font-size: 18px;font-family:'ProximaNova-Regular'; white-space: pre-line;">
                        Đây là email được tạo tự động.
                        Thư trả lời cho địa chỉ email này không được giám sát.
                    </div>
                    <div
                        style="color: rgba(22, 24, 35, 0.75); line-height: 24px; font-size: 18px; font-family:'ProximaNova-Regular'; white-space: pre-line; font-style: italic;">
                        Thân gửi,
                    </div>
                    <div
                        style="color: rgba(22, 24, 35, 0.75); padding-bottom: 10px; line-height: 24px; font-size: 25px; font-weight: 600; color: rgb(25,69,157); font-family:'ProximaNova-Regular'; white-space: pre-line; font-weight: bold;">
                        BKConnect
                    </div>
                    <div
                        style="color: rgba(22, 24, 35, 0.75); padding-bottom: 30px; line-height: 28px; font-size: 18px; font-family:'ProximaNova-Regular';">
                        <p style="font-weight: 600;"> Thông tin liên hệ:</p>
                        Website: <a href='https://bkconnect.vercel.app/'>BKConnect</a> <br>
                        Hotline: 0909999999
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>